@{
    @model outletnerd.Models.Produto
}
<nav class="navbar-murph">

    <div class="logo">
        <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/outlet.png" /></a>
    </div>
    <div class="search-bar">
        <form method="get" action="@Url.Action("Index", "YourController")">
            <div class="input-group">
                <!--<button type="submit" class="btn-busca">Buscar</button>-->

                <div class="asearch-container">
                    <input type="text" name="searchTerm" class="busca" placeholder="O que você está procurando?" />
                    <img src="~/img/lupa.png" alt="Buscar" class="search-icon" />
                </div>

            </div>
        </form>
    </div>


    <div class="nav_btn">
        <a asp-controller="Carrinho" asp-action="Index" class="navbar-icon1"><img src="~/img/carrinho.png" /></a>
        <a asp-controller="Cliente" asp-action="CadastrarC" class="navbar-icon2"><img src="~/img/usericon.png" /> </a>
    </div>

</nav>

<div class="navbar-categorias">
    <div class="navbar-cat">
        <ul>
            <li class="itemMenu"><a asp-action="Decoracoes" asp-controller="Home">Decorações</a></li>
            <li class="itemMenu"><a asp-action="Brinquedos" asp-controller="Home">Brinquedos</a></li>
            <li class="itemMenu"><a asp-action="Livros" asp-controller="Home">Livros e Mangás</a></li>
            <li class="itemMenu"><a asp-action="Roupas" asp-controller="Home">Roupas</a></li>
        </ul>
    </div>

</div>
<div class="produto-detalhe-container">
    <div class="produto-card">
        <div >
            <img class="produto-imagem" src="@Url.Content(Model.ImageUrl)" alt="@Model.Nome" />
        </div>

        <div class="produto-infoT">
            <h1 class="produto-info-nome">@Model.Nome</h1>
            <h2 class="preco-atualF">R$ @Model.Preco.ToString("F2")</h2>
            
        </div>

        <form asp-controller="Home" asp-action="ProdutoUnico" method="post">
            <input type="hidden" name="produtoId" value="@Model.IdProduto" />
            <input type="hidden" name="quantidade" value="1" />
            <button type="submit" class="btn-comprarF">Comprar Agora</button>
        </form>

        <form class="AdcartF" asp-controller="Carrinho" asp-action="AddToCart" method="post">
            <input type="hidden" name="produtoId" value="@Model.IdProduto" />
            <input type="hidden" name="quantidade" value="1" />
            <button type="submit" class="btn-adicionar-carrinhoF">Adicionar ao Carrinho</button>
        </form>
    </div>
</div>
@if (Model == null)
{
    <h2>Produto não encontrado.</h2>
    return;
}